<!--
<nav>
  <p-sidebar [(visible)]="visibleSidebar1" *ngIf="visibleSidebar1" [baseZIndex]="10000">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active active-class" routerLink='/' routerLinkActive="router-link-active" (click)="sideclose()"><i class="pi pi-mobile"></i>Home</a>

          </li>
        <li class="nav-item">
            <a class="nav-link active active-class" routerLink='/empdisp' routerLinkActive="router-link-active"  (click)="sideclose()" ><i class="pi pi-mobile"></i>Employees list</a>

          </li>
      <li class="nav-item">
        <a class="nav-link active active-class" routerLink='/addemp' routerLinkActive="router-link-active"  (click)="sideclose()"><i class="pi pi-mobile"></i>addemp</a>

      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink='/editemp' routerLinkActive="router-link-active"  (click)="sideclose()" >edit emp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink='/primeng' routerLinkActive="router-link-active"  (click)="sideclose()">PimeEmpComponent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

  </p-sidebar>
</nav> -->

  <nav class="navbar navbar-expand-lg navbar-info bg-danger col-sm-12">

<a class="navbar-brand "  style="right:100px ;" ><h1>Employee Details</h1></a><br>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
 <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">

      <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" ><h3>Home</h3><span class="sr-only">(current)</span></a>
        </li><br>

    <li class="nav-item ">
      <a class="nav-link" [routerLink]="['/tabledisp']" routerLinkActive="router-link-active" ><h3>DesignOperations</h3> <span class="sr-only">(current)</span></a>
    </li><br>
    <li class="nav-item ">
      <a class="nav-link" [routerLink]="['/list']" routerLinkActive="router-link-active" ><h3>Employee List</h3> <span class="sr-only">(current)</span></a>
    </li>


    <li class="nav-item" *ngIf="!isLoggedIn()" routerLinkActive="active">
      <a  class="nav-link" routerLink=""><h3>Login</h3> <span class="sr-only">(current)</span></a>
    </li>
        <li class="nav-item" *ngIf="isLoggedIn()" routerLinkActive="active">
          <a class="nav-link" (click)="onLogOut()" ><h3>Log Out</h3> <span class="sr-only">(current)</span></a>
        </li>


  </ul>
  <!-- <button pButton type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right" class="btn btn-primary"><i class="fa fa-bars"></i></button> -->
</div>

    <div class="clock">
        <span class="hour">{{ hours }}:</span>
        <span class="min">{{ minutes }}:</span>
        <span class="second">{{ seconds }}</span>
      </div>
</nav>
<!-------------Date Picker--------------------- -->
<div class="row">
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker>
  </div>
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text"
           placeholder="Daterangepicker"
           class="form-control"
           bsDaterangepicker>
  </div>
</div>

<!--
<div>
  <rating [max]="10" [(ngModel)]="y" [customTemplate]="tt"></rating>
  <div class="card">
    <pre class="card-block card-header" style="margin:15px 0;"> <b>(<i>Rate:</i> {{y}})</b> </pre>
  </div>
  <ng-template #tt let-i="index" let-v="value">
    <button class="btn btn-{{i < v ? 'warning' : 'default'}}">
      {{i < v ? '&#9733;' : '&#9734;'}}
    </button>
  </ng-template>
</div> -->
